{% extends 'base.html' %}

{% block head %}
<title>Task Manager</title>
{% endblock %}

{% block body %}
<h2 id="title_homepage">Welcome to your Task Manager App</h2>
<p>This application was made specially for the Test and Devops workshops, it was fully inspired from one of freeCodeCamp.org
tutorial and it was a great opportunity to work with flask !</p>
<p><strong>Note : </strong>You can check the tutorial I followed from <a href="https://www.youtube.com/watch?v=Z1RJmh_OqeA&ab_channel=freeCodeCamp.org">here</a> , I added authentification feature and changed the task model structure.</p>

<header>
  <h2>Choose your next step</h2>
</header>

<section>
    <a href="/signup" id="SignUp" class="button">Sign up</a>
    <a href="/login" id="SignIn" class="button">Sign in</a>
</section>

{% endblock %} 